
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Step 1: Select the cause you want to support</h2>
                </div>
               
            </div>
        </div>
    </div>

<br/><br/>
<section class="slice bg-white animate-hover-slide">
        <div class="wp-section work">
            <div class="container">

<div class="row">

    <div class="col-md-6">
        <br/>
            <div class="input-group merged">
                <span class="input-group-addon"><i class="icon-append fa fa-search"></i></span>
                <input class="form-control" style="width:270px" type="text"
                       placeholder="Search For A Cause"
                       name="searchcause"
                       id="searchcause"
                       value="">
            </div>
    </div>
         


	<div class="col-md-6">
		<%= will_paginate @causes , renderer: BootstrapPagination::Rails %>
	</div>
</div>	


                <div class="row">       
                    <div id="ulSorList">
    
                        <% @causes.each do |cause| %>

                        <div class="mix category_1 col-lg-4 col-md-4 col-sm-6" data-cat="1">
                            <div class="wp-block inverse">
                                <div class="figure" style="min-height:150px">
                                    <img alt="" src="<%=cause.logo.url%>" class="img-responsive center-block"
                                    style="margin: auto auto; height: auto; width: auto; max-height:150px; max-width:200px;" 
                                    >
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="<%=cause.logo.url%>" class="btn btn-lg btn-b-white theater"><i class="fa fa-credit-card"></i> Donate</a>
                                        <a href="<%= "http://" +  @userhost + "/cause/show/" +  cause.charityid.to_s %>" class="btn btn-lg btn-b-white"><i class="fa fa-plus-circle"></i> View Details</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9 center-block" style="text-align:center">
                                        <h2><%= cause.charityname %></h2>
                                        <% if session[:roleid] == 1 || session[:userid] == :userid%>
                                            <%= link_to "Edit", controller: "cause", action: "edit", id: cause.charityid %>
                                        <% end %>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                        <% end %>      

                        <div class="gap"></div>
                    </div>                                   
                </div>
        	</div>    	
        </div>
    </section>



<script>

  $("#searchcause").autocomplete({


        source: function (request, response) {
            $.ajax({
                url: '/cause/causeautocomplete', type: "POST", dataType: "json",
                data: { searchText: request.term, maxResults: 10 },
                success: function (data) {

                    console.log('success: ', data)

                    // data is an array of objects and must be transformed for autocomplete to use
                    var array = data.error ? [] : $.map(data, function (m) {
                        return {
                            id: m.charityid,
                            name: m.charityname,
                            logo: m.logo
                            
                        };
                    });
                    response(array);


                },
                failure: function (data) {
                    console.log('autcomplete failed');
                }
            })
        },
        minLength: 1,
        select: function (event, ui) {
            //console.log('comes in selected item');
            event.preventDefault();
            window.location.href = "/cause/show/" + ui.item.id;
 
        }
    })
    .data("ui-autocomplete")._renderItem = function (ul, item) {

        //console.log("logo= ", item.logo);

        return $('<li class="ui-menu-item-with-icon"></li>')
            .data("item.ui-autocomplete", item.charityname)
            .append('<a><img src="' + item.logo + '"height="45px" width="75px">&nbsp;&nbsp;&nbsp;' + item.name + '</a>')
            .appendTo(ul);
    };


</script>