<br/><br/><br/>

    <section class="slice bg-white">
        <div class="wp-section shop">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="product-gallery">
                                    <div class="primary-image">
                                        <a href="<%=@cause.logo.url%>" class="theater" rel="group">
                                            <img src="<%=@cause.logo.url%>" class="img-responsive center-block" alt="">
                                        </a>
                                    </div>
                                   
                                </div>


                                <% if @cause.image1.exists? %>
                                <div id="workCarousel" class="carousel carousel-4 slide color-two-l" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators hide">
                                        <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
                                    </ol>
                                    
                                    <div class="carousel-inner">


                                        <% if @cause.image1.exists? %>
                                            <div class="item item-dark active">
                                                <img src="<%=@cause.image1.url%>" style="max-height:350px;min-height:350px" alt="" class="img-responsive center-block">
                                            </div>
                                        <% end %>

                                        <% if @cause.image2.exists? %>
                                            <div class="item item-dark">
                                                <img src="<%=@cause.image2.url%>" style="max-height:350px;min-height:350px" alt="" class="img-responsive center-block">
                                            </div>
                                        <% end %>

                                        <% if @cause.image3.exists? %>
                                            <div class="item item-dark">
                                                <img src="<%=@cause.image3.url%>" style="max-height:350px;min-height:350px" alt="" class="img-responsive center-block">
                                            </div>
                                        <% end %>

                                    </div>
                                    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#workCarousel" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="right carousel-control" href="#workCarousel" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>     
                            
                                </div>
                                <% end %>

                                <br/><br/><br/><br/>
                                
                            </div>
                            <div class="col-md-5">
                                <div class="product-info">
                                    <h3 class="product-title"><%= @cause.charityname %></h3>
                                    <div class="rating pull-left">
                                        <%= link_to "Cause Website", @cause.website, target: "_blank" %>

                                    </div>
                                    
                                    <span class="clearfix"></span> 


                                    <br/>
                                    <button id="register_button" class="btn btn-base btn-icon btn-icon-right btn-sign-in" type="button" onClick="location.href='/donate/new/?charityid=<%= @cause.charityid %>'">
                                                        <span>Donate Unused Gift Card</span>
                                    </button>
                                    <br/>
                                    <label>You can still donate with a credit card<br/>if you don't have a gift card.</label>


                                    <% if session[:roleid] == ADMIN_ROLE || (session[:userid] ==  @cause.userid && session[:userid] != nil) %>
                                        <%= link_to "Modify Cause", controller: "cause", action: "edit", id: @cause.charityid %>
                                        <br/>
                                    <% end %>
                                    <hr>
                                    <br/>
                                    <p>
                                        <label style="text-decoration: underline;">Share this link with your friends</label>

                                        <%= request.protocol + request.host_with_port + "/cause/show/" + @cause.to_param %>                                                    
  <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='<%= request.protocol + request.host_with_port + "/cause/show/" + @cause.to_param %>' id='d_clip_button' title='Click me to copy to clipboard.'>
    Copy
  </button>
  </p>

                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Tabs -->
                                <div class="tabs-framed mt-20">
                                    <ul class="tabs clearfix">
                                        <li class="active"><a href="#tab-1" data-toggle="tab">About Cause</a></li>
                                        
                                    </ul>

                                    <div class="tab-content">

                                        <!-- Tab 1 -->
                                        <div class="tab-pane fade in active" id="tab-1">
                                            <div class="tab-body">
                                                
                                                <p>
                                                    <%= @cause.description.html_safe %>
                                                </p>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- SIDEBAR - BLOG -->
                        <div class="sidebar">
    
                            <%= render partial: "widgets/newsletter.html.erb" %>   

                            <%= render partial: "widgets/testimonials.html.erb" %> 
    

                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
</script>