
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Thank you for your donation.</h2>
                </div>
               
            </div>
        </div>
    </div>

<br/><br/>
<section class="slice bg-white animate-hover-slide">
        <div class="wp-section work">
            <div class="container">




                <div class="row"> 
                <div class="col-md-8">
                     
                     <br/>
                    <br/>
                    <br/>
                    <ul>
                    <h4><%=@message%></h4>

                    <br/>
                    <br/>
                    <br/>
                    <h5>Would you like to</h5>
                    <ul>
                               
                        <!-- <li><a href="/donate/index/?userid=<%= session[:userid] %>">View Your Donations</a></li> -->
                        <li><a href="/giftcard/index">View My Gift Cards</a></li>
                        <li><a href="/cause/index">Donate Another Card</a></li>
                        <li><a href="/merchant/index">Check Balance For Gift Card</a></li>
                        <li><a href="/donate/index/?userid=<%= session[:userid] %>">View My Donations</a></li>
                        
                                                      
                    </ul>

                </div>
                     <div class="col-sm-4" style="margin-top: 36px;">
                       <!-- SIDEBAR - BLOG -->
                        <div class="sidebar">
    
                            <%= render partial: "widgets/didyouknow.html.erb" %>   

                            <%= render partial: "widgets/newsletter.html.erb" %>   

                            <%= render partial: "widgets/testimonials.html.erb" %> 
    

                        </div>               
                    </div>                                 
                </div>
        	</div>    	
        </div>
    </section>



<script>


</script>