 <section class="slice slice-lg bg-image" style="background-image:url(/images/backgrounds/full-bg-1.jpg)">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">                   
                        <div class="wp-block default user-form no-margin">
                            <div class="form-header">
                                <h2>Create your account</h2>
                            </div>
                            <div class="form-body">
                                <%= form_for(@user, :url => {:action => 'create'}, :html => {:class => 'sky-form', :id => "myform"}) do |f| %>

                                    <% if @user.errors.any? %>
                                      <div class="alert alert-danger fade in">
                                        <p><b>Please correct the following <%= pluralize(@user.errors.count, "error") %>:</b></p>
                                     
                                        <ul>
                                        <% @user.errors.messages.values.each do |msg| %>
                                            <%msg.each do  |m| %>
                                                <li><%= m %></li>
                                            <%end %>
                                        <% end %>
                                        </ul>
                                      </div>
                                    <% end %>


                                    <fieldset class="no-padding"> 

                                     <section class="no-margin">
                                            <div class="row">

                                                <section class="col-xs-6" style="padding-right:20px; border-right: 1px solid #ccc;">
                                                    <div class="alert alert-danger fade in" id="msg_firstname" style="display:none">
                                                        Please enter first name.
                                                    </div>

                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <%= f.text_field :firstname, :placeholder=>"First Name", :required => "true", :id => 'firstname' %>
                                                        
                                                    </label>
                                                
                                                    <br/>
                                                    <div class="alert alert-danger fade in" id="msg_lastname" style="display:none">
                                                        Please enter last name.
                                                    </div>

                                                    <label class="input">
                                                        <i class="icon-append fa fa-user"></i>
                                                        <%= f.text_field :lastname, :placeholder=>"Last Name", :required => "true", :id => 'lastname'  %>
                                                        
                                                    </label>

                                                    <br/>
                                                     <div class="form-group">
                                                        <div class="form-group">
                                                        <div class="alert alert-danger fade in" id="msg_email" style="display:none">
                                                            Please enter a valid email.
                                                        </div>
                                                           
                                                            <label class="input">
                                                                <i class="icon-append fa fa-envelope-o"></i>
                                                                <%= f.text_field :email, :placeholder=>"Email", :required => "true", :id => 'email'  %>
                                                                <b class="tooltip tooltip-bottom-right">This will be your username</b>
                                                            </label>
                                                        </div>  
                                                    </div>  
                                                    
                                                    <div class="form-group">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-lock"></i>
                                                            <input type="password" id="password" name="password" placeholder="Password">
                                                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                                        </label>
                                                    </div>  
                                                    
                                                    <div class="form-group">
                                                        <label class="input">
                                                            <i class="icon-append fa fa-lock"></i>
                                                            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password">
                                                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                                        </label>
                                                    </div>  

                                                    <div class="" id="passwordStrength"></div>   

                                                </section>

                                               

                                                <section class="col-xs-6" style="text-align: center;">
                                                     <br/><br/><br/>
                                                     <h5>or</h5>
                                                        
                                                        <a href="/auth/facebook" id="sign_in" onclick="acceptedTerms();"><img alt="Facebook login button" border="0" src="/images/facebook-register.png" 
                                                        class="img-responsive img-rounded fill center-block"
                                                        ></a>

                                                </section>
                                                
                                            </div>

                                            <div class="row" style="text-align:center">
                                                
                                                <div class"col-xs-12">
                                                    <div class="alert alert-danger fade in" id="msg_terms" style="display:none">
                                                            Please read and accept the terms and conditions.
                                                        </div>
                                                        <label>
                                                        <input type="checkbox" id="termscheckbox" name="subscription" id="subscription">
                                                        <i></i> I accept the <a href="#">terms and conditions</a> of this website.
                                                    </label>
                                                </div>
                                            

                                            </div>

                                        </section>

                                       
                                    </fieldset>  

                                    <fieldset>
                                        
                                        
                                      
                                        <section>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    
                                                    <br>
                                                    <button id="register_button" class="btn btn-base btn-icon btn-icon-right btn-sign-in" type="button">
                                                        <span>Register now</span>
                                                    </button>
                                                </div>
                                                
                                        </section>
                                    </fieldset>
                                <!--/form-->
                                <% end %>  
                            </div>
                            <div class="form-footer">
                                <p>Already have an account? <a href="sign-in">Click here to sign in.</a></p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>

    <script>

    var isValidPassword = false;

    function acceptedTerms() {
        if ($('#termscheckbox').is(':checked')) {
            $('#msg_terms').hide;
            return true;
        } else {
            $('#msg_terms').show();
            event.preventDefault()
            return false;

        }
    }

    $('#register_button').click(function () {

        // do validation
        var isValid = validateForm();

        console.log('form valid= ' + isValid);
        console.log('form valid password= ' + isValidPassword);

        

        if (isValid && isValidPassword) {

            $('#register_button').attr("disabled", true);
            document.getElementById("myform").submit();
        }

        return false;
    });

    function validateForm() {

        //console.log('comes in validateform ', $('#firstname').val());

        var isValid = true;

        if ($('#password, #confirmpassword').val() == 0)
        {
            $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Please enter a password');
            isValid = false;
        }
 
        return isValid;
    }

    // disable the register button until terms and conditions is checked
    $("#termscheckbox").change(function () {
        if (this.checked) {
            $('#register_button').attr("disabled", false);
            $('#msg_terms').hide;
            
        } else {
            $$('#register_button').attr("disabled", true);
            $('#msg_terms').show;
        }
    });

    

    $(document).ready(function() {
 
        $('#register_button').attr("disabled", true);


        $('#password').on('keyup', function(e) {
     
            if($('#password').val() == '' && $('#confirmpassword').val() == '')
            {
                $('#passwordStrength').removeClass().html('');
     
                isValidPassword = false;
            }
     

     
            // Must have capital letter, numbers and lowercase letters
            var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
     
            // Must have either capitals and lowercase letters or lowercase and numbers
            var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
     
            // Must be at least 6 characters long
            var okRegex = new RegExp("(?=.{6,}).*", "g");
     
            if (okRegex.test($(this).val()) === false) {
                // If ok regex doesn't match the password
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Password must be 6 characters long.');
     
            } else if (strongRegex.test($(this).val())) {
                // If reg ex matches strong password
                $('#passwordStrength').removeClass().addClass('alert alert-success').html('Good password');

                if($('#password').val() != '' && $('#confirmpassword').val() != '' && $('#password').val() != $('#confirmpassword').val())
                {
                    //console.log('passwords dont match');
                    $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Passwords do not match.');
                    isValidPassword = false;
                }

            } else if (mediumRegex.test($(this).val())) {
                // If medium password matches the reg ex
                $('#passwordStrength').removeClass().addClass('alert alert-info').html('Make your password stronger with more capital letters, more numbers and special characters.');
            } else {
                // If password is ok
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Weak Password, try using numbers and capital letters.');
            }

            
            
            isValidPassword = true;
        });


        $('#confirmpassword').on('keyup', function(e) {
     
            if($('#password').val() == '' && $('#confirmpassword').val() == '')
            {
                $('#passwordStrength').removeClass().html('');
     
                isValidPassword = false;
            }

            if($('#password').val() != $('#confirmpassword').val())
            {
                $('#passwordStrength').removeClass().addClass('alert alert-danger').html('Passwords do not match.');
     
                isValidPassword = false;
            }

            if($('#password').val() == $('#confirmpassword').val())
            {
                $('#passwordStrength').removeClass().addClass('alert alert-success').html('Passwords match.');
     
                isValidPassword = true;
            }
     
            
            isValidPassword = true;
        });
    });

    </script>
