
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Select your gift card to donate or check balance.</h2>
                </div>
               
            </div>
        </div>
    </div>


<section class="slice bg-white animate-hover-slide">
        <div class="wp-section work">
            <div class="container">

<div class="row">

    <div class="col-md-4">
        <br/>
            <div class="input-group merged">
                <span class="input-group-addon"><i class="icon-append fa fa-search"></i></span>
                <input class="form-control" style="width:270px" type="text"
                       placeholder="Search For Gift Card"
                       name="searchmerchant"
                       id="searchmerchant"
                       value="">
            </div>
    </div>
         


	<div class="col-md-8">
		<%= will_paginate @merchants , renderer: BootstrapPagination::Rails %>
	</div>
</div>	


                <div class="row">       
                    <div id="ulSorList">
    
                        <% @merchants.each do |merchant| %>

                        <div class="mix category_1 col-lg-4 col-md-4 col-sm-6" data-cat="1" style="border: #cdcdcd thin solid;min-height:200px">
                            <br/>
                            <div class="wp-block inverse">
                                <div class="figure" style="min-height:150px">
                                    <img alt="" src="<%=merchant.logo.url%>" class="img-responsive center-block"
                                    style="margin: auto auto; height: auto; width: auto; max-height:150px; max-width:200px;" 
                                    >
                                    <div class="figcaption bg-base"></div>
                                    <div class="figcaption-btn">
                                        <a href="#" class="btn btn-xs btn-b-white theater"><i class="fa fa-credit-card"></i> Donate</a>
                                        <a href="<%= "http://" +  @userhost + "/giftcard/new/" +  merchant.merchantid.to_s %>" class="btn btn-xs btn-b-white"><i class="fa fa-check-square-o"></i> Check Balance</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9 center-block" style="text-align:center">
                                        <a href="<%= "http://" +  @userhost + "/giftcard/new/" +  merchant.merchantid.to_s %>" class="btn btn-lg"><i class="fa fa-check-square-o"></i> Check Balance</a>
                                        <br/>
                                        <h2><%= merchant.merchantname %></h2>
                                        <br/>
                                        <% if session[:roleid] == 1 %>
                                            <%= link_to "Edit", controller: "merchant", action: "edit", id: merchant.merchantid %>
                                        <% end %>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                        <% end %>      

                        <div class="gap"></div>
                    </div>                                   
                </div>
        	</div>    	
        </div>
    </section>



<script>

  
</script>