<% 
begin
if @giftcard.errors.any? %>
  <div class="alert alert-danger fade in">
    <p><b>Please correct the following <%= pluralize(@giftcard.errors.count, "error") %>:</b></p>
 
    <ul>
    <% @giftcard.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
            <li><%= m %></li>
        <%end %>
    <% end %>
    </ul>
  </div>
<% end
rescue
end
%>

<fieldset class="no-padding"> 

 <section class="no-margin">
        <div class="row">

            <section class="col-xs-12">
               
                <%

                    if @giftcard.merchant
                        selectedmerchantname = @giftcard.merchant.merchantname
                    else
                        selectedmerchantname = ''
                    end

                %>

            	<label>Gift Card Store</label>
                <br/>
                <small>Start typing and select the retailer or brand name displayed on your gift card. If you don't see your retailer or brand name listed, type out the full name manually.</small>
                <label class="input">
                    <i class="icon-append fa fa-credit-card"></i>

                    <input type="text" name="giftcardname" 
                    placeholder="Check Your Gift Card Balance"
                    name="merchant"
                    id="merchant"
                    value="<%= selectedmerchantname %>">
                                         
                    <%= f.hidden_field :merchantid %>                                             
                </label>
            
                <br/>
                
                <label>Gift Card Number</label>
                <label class="input">

                    <i class="icon-append fa fa-barcode"></i>
                    <input type="text" name="cardnumber" id="cardnumber" value="<%= @giftcard.cardnumber_hash %>" placeholder="Please enter gift card number">
                                                                           
                </label>

                <br/>                                             
                
                <label id="pinlabel">Pin</label>
                <label class="input">
                    <i class="icon-append fa fa-key"></i>
                    <%= f.text_field :pin, :placeholder=>"This is kept confidential." %>
         
                </label>

                
                
                <div id="expdatediv" style="display:none">
                    <br/>
                    <label>Expiration Date</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <%= f.text_field :expdate, :placeholder=>"Please enter expiration date", :class=>"form-control"  %>
                        
                    </label>
                     <br/>
                </div>
       
               
                <div id="eventnumberdiv" style="display:none">
                    <label>Event #</label>
                    <label class="input">
                        <i class="icon-append fa fa-barcode"></i>
                        <%= f.text_field :eventnumber, :placeholder=>"Please enter the event number", :class=>"form-control"  %>
                        
                    </label>
                    <br/>
                </div>

                  
            </section>
      
        </div>


    </section>

   
</fieldset>  

<script>

$(window).load(function () {

    

    <% if @giftcard.merchant %>
        cardfieldschange(<%= @giftcard.merchant.merchantid %>);
    <% end %>

});

$("#giftcard_expdate,#donation_giftcard_attributes_expdate").datepicker({
                changeMonth: true,
                changeYear: true
    });

function cardfieldschange(cardid) {

        console.log('comes in cardfieldschange: ', cardid);

        // change the PIN label if the user selects american express (29)
        // visa (157), vanilla (156), or mastercard (118)
        if (cardid == 29) // american express
        {
            $("#pinlabel").html("Enter 4 digit security code on back of AMEX card.");
            $("#expdatediv").show();
            $("#eventnumberdiv").hide();

        }
        else if (cardid == 156 ||
            cardid == 157 ||
            cardid == 118)
            /* visa, vanilla, and mastercard */
        {
            $("#pinlabel").html("Enter 3 digit security code on card.");
            $("#expdatediv").show();
            $("#eventnumberdiv").hide();
        }
        else if (cardid == 148) // target
        {
            $("#eventnumberdiv").show();
            $("#expdatediv").hide();
            $("#pinlabel").html("Enter Access Number.");
            

        }
        else {
            $("#pinlabel").html("Pin");
            $("#expdatediv").hide();
            $("#eventnumberdiv").hide();
        }


}

$("#merchant").autocomplete({


            source: function (request, response) {
                $.ajax({
                    url: '/merchant/merchantautocomplete', type: "POST", dataType: "json",
                    data: { searchText: request.term, maxResults: 10 },
                    success: function (data) {

                        console.log('success: ', data)

                        // data is an array of objects and must be transformed for autocomplete to use
                        var array = data.error ? [] : $.map(data, function (m) {
                            return {
                                id: m.merchantid,
                                name: m.merchantname,
                                logo: m.logo
                                
                            };
                        });
                        response(array);


                    },
                    failure: function (data) {
                        console.log('autcomplete failed');
                    }
                })
            },
            minLength: 1,
            select: function (event, ui) {
                //console.log('comes in selected item');


                event.preventDefault();
                $("#merchant").val(ui.item.name);

                try {
                    $("#giftcard_merchantid").val(ui.item.id);
                } catch (Exception){}

                try {
                    $("#donation_giftcard_attributes_merchantid").val(ui.item.id);
                } catch (Exception){}
                $("#merchantname").html(ui.item.name);
                $("#merchantlogo").attr("src", '<%= CLOUDFRONT_HOST %>/' + ui.item.logo);

                cardfieldschange(ui.item.id);

            }
        })
        .data("ui-autocomplete")._renderItem = function (ul, item) {

            //console.log("logo= ", item.logo);

            return $('<li class="ui-menu-item-with-icon"></li>')
                .data("item.ui-autocomplete", item.merchantname)
                .append('<a><img src="<%= CLOUDFRONT_HOST %>/' + item.logo + '"height="45px" width="75px">&nbsp;&nbsp;&nbsp;' + item.name + '</a>')
                .appendTo(ul);
        };

</script>
                                   