<% 
begin
if @giftcard.errors.any? && !@donation.errors? %>
  <div class="alert alert-danger fade in">
    <p><b>Please correct the following <%= pluralize(@giftcard.errors.count, "error") %>:</b></p>
 
    <ul>
    <% @giftcard.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
            <li><%= m %></li>
        <%end %>
    <% end %>
    </ul>
  </div>
<% end
rescue
end
%>

<fieldset class="no-padding"> 

<%= f.hidden_field :giftcardid %>

 <section class="no-margin">
        <div class="row">


            <section class="col-xs-12">
               
                <%

                    if @giftcard.merchant
                        selectedmerchantname = @giftcard.merchant.merchantname
                    else
                        selectedmerchantname = ''
                    end

                %>

            	<label>Gift Card Store</label>
                <br/>
                <small>Start typing and select the retailer or brand name displayed on your gift card. If you don't see your retailer or brand name listed, select "Gift Card Not Found" and enter the card name in the comments field.  We will do our best to process your donation.</small>
                <label class="input">
                    <i class="icon-append fa fa-credit-card"></i>

                    <input type="text" name="giftcardname" 
                    placeholder="Enter name of gift card store"
                    name="merchant"
                    id="merchant"
                    value="<%= selectedmerchantname %>">
                                         
                    <%= f.hidden_field :merchantid %>                                             
                </label>
            
                <br/>
                
                <label>Gift Card Number</label>
                <label class="input">

                    <i class="icon-append fa fa-barcode"></i>
                    <%= f.text_field :cardnumber, :placeholder=>"Please enter gift card number" %>
                    <!-- <input type="text" name="cardnumber" id="cardnumber" value="<%= @giftcard.cardnumber %>" placeholder="Please enter gift card number">
                    -->
                                                                           
                </label>

                <br/>                                             
                
                <label id="pinlabel">Pin</label>
                <label class="input">
                    <i class="icon-append fa fa-key"></i>
                    <%= f.text_field :pin, :placeholder=>"This is kept confidential." %>
         
                </label>

                
                
                <div id="expdatediv" style="display:none">
                    <br/>
                    <label>Expiration Date</label>
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <%= f.text_field :expdate, :placeholder=>"Please enter expiration date", :class=>"form-control"  %>
                        
                    </label>
                     <br/>
                </div>
       
               
                <div id="eventnumberdiv" style="display:none">
                    <label>Event #</label>
                    <label class="input">
                        <i class="icon-append fa fa-barcode"></i>
                        <%= f.text_field :eventnumber, :placeholder=>"Please enter the event number", :class=>"form-control"  %>
                        
                    </label>
                    <br/>
                </div>

                  
            </section>
      
        </div>


    </section>

   
</fieldset>  

<style>
.ui-datepicker-calendar {
    display: none;
    }
.ui-datepicker {

    width: 250px;
    }
</style>

<script>

$(window).load(function () {

    

    <% if @giftcard.merchant %>
        cardfieldschange(<%= @giftcard.merchant.merchantid %>);

        

    <% end %>



});

$("#giftcard_expdate,#donation_giftcard_attributes_expdate").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) { 
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    console.log('close');
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    mydate = new Date(year, month, 1)
                    $(this).val($.datepicker.formatDate('mm-dd-yy', mydate));
                }
    });



function cardfieldschange(cardid) {

        console.log('comes in cardfieldschange: ', cardid);


        try {

                $("#GiftCardNotFoundDiv").hide();
                

        } catch (Exception)
        {
             console.log(Exception)

        }

        // change the PIN label if the user selects american express (29)
        // visa (157), vanilla (156), or mastercard (118)
        if (cardid == 29) // american express
        {
            $("#pinlabel").html("Enter 4 digit security code on back of AMEX card.");
            $("#expdatediv").show();
            $("#eventnumberdiv").hide();

        }
        else if (cardid == 156 ||
            cardid == 157 ||
            cardid == 118)
            /* visa, vanilla, and mastercard */
        {
            $("#pinlabel").html("Enter 3 digit security code on card.");
            $("#expdatediv").show();
            $("#eventnumberdiv").hide();
        }
        else if (cardid == 148) // target
        {
            $("#eventnumberdiv").show();
            $("#expdatediv").hide();
            $("#pinlabel").html("Enter Access Number.");
            

        }
        else if (cardid == 85) // giftcard not found
        {
            try {

                $("#GiftCardNotFoundDiv").show();
                

            } catch (Exception)
            {

                console.log(Exception)
            }

            $("#eventnumberdiv").hide();
            $("#expdatediv").hide();
            $("#pinlabel").html("Pin");
          

        }
        else {
            $("#pinlabel").html("Pin");
            $("#expdatediv").hide();
            $("#eventnumberdiv").hide();
        }


}

$("#merchant").autocomplete({


            source: function (request, response) {
                $.ajax({
                    url: '/merchant/merchantautocomplete', type: "POST", dataType: "json",
                    data: { searchText: request.term, maxResults: 10 },
                    success: function (data) {

                        console.log('success: ', data)

                        // data is an array of objects and must be transformed for autocomplete to use
                        var array = data.error ? [] : $.map(data, function (m) {
                            return {
                                id: m.merchantid,
                                name: m.merchantname,
                                logo: m.logo
                                
                            };
                        });
                        response(array);


                    },
                    failure: function (data) {
                        console.log('autcomplete failed');
                    }
                })
            },
            minLength: 1,
            select: function (event, ui) {
                //console.log('comes in selected item');


                event.preventDefault();
                $("#merchant").val(ui.item.name);

                try {
                    // card not found
                    if (ui.item.id == 85)
                    {
                        // display message
                        
                    } else
                    {


                    }
                } catch (Exception) {}


                try {
                    $("#giftcard_merchantid").val(ui.item.id);
                } catch (Exception){}

                try {
                    $("#donation_giftcard_attributes_merchantid").val(ui.item.id);
                } catch (Exception){}
                $("#merchantname").html(ui.item.name);

                logourl = ui.item.logo

                if (logourl == null || logourl == '')
                {
                    logourl = '<%= CLOUDFRONT_HOST %>/images/giftcard-3.jpg'
                }

                $("#merchantlogo").attr("src", logourl);

                cardfieldschange(ui.item.id);

            }
        })
        .data("ui-autocomplete")._renderItem = function (ul, item) {

            //console.log("logo= ", item.logo);

            logourl = item.logo

            if (logourl == null || logourl == '')
            {
                logourl = '<%= CLOUDFRONT_HOST %>/images/giftcard-3.jpg'
            }

            return $('<li class="ui-menu-item-with-icon"></li>')
                .data("item.ui-autocomplete", item.merchantname)
                .append('<a><img src="'  + logourl +  '"height="45px" width="75px">&nbsp;&nbsp;&nbsp;' + item.name + '</a>')
                .appendTo(ul);
        };

</script>
                                   