
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Users</h2>
                </div>
               
            </div>
        </div>
    </div>

<br/><br/>
<section class="slice bg-white animate-hover-slide">
        <div class="wp-section work">
            <div class="container">

<div class="row">

    <div class="col-md-6">
        <br/>
            <div class="input-group merged">
                <span class="input-group-addon"><i class="icon-append fa fa-search"></i></span>
                <input class="form-control" style="width:270px" type="text"
                       placeholder="Search For A User"
                       name="searchuser"
                       id="searchuser"
                       value="">
            </div>
    </div>
         


	<div class="col-md-6">
		<%= will_paginate @users , renderer: BootstrapPagination::Rails %>
	</div>
</div>	

<br/><br/><br/>
                <div class="row">       
                    <div id="ulSorList">
    
                        <% @users.each do |user| %>

                        <div class="col-sm-2">
                        	<%= user.userid %>
                        </div>


						<div class="col-sm-5">
                        	<a href="/user/show/<%= user.userid %>"><%= user.lastname %>, <%= user.firstname %></a>
                        </div>

                        <div class="col-sm-3">
                        	<%= user.email %>
                        </div>

                        <div class="col-sm-2">
                        	<a href="#">Edit</a>
                        </div>

                        <% end %>      

                        <div class="gap"></div>
                    </div>                                   
                </div>
        	</div>    	
        </div>
    </section>



<script>

  $("#searchuser").autocomplete({


        source: function (request, response) {
            $.ajax({
                url: '/user/userautocomplete', type: "POST", dataType: "json",
                data: { searchText: request.term, maxResults: 10 },
                success: function (data) {

                    console.log('success: ', data)

                    // data is an array of objects and must be transformed for autocomplete to use
                    var array = data.error ? [] : $.map(data, function (m) {
                        return {
                            id: m.userid,
                            lastname: m.lastname,
                            firstname: m.firstname
                            
                        };
                    });
                    response(array);


                },
                failure: function (data) {
                    console.log('autcomplete failed');
                }
            })
        },
        minLength: 1,
        select: function (event, ui) {
            //console.log('comes in selected item');
            event.preventDefault();
            window.location.href = "/user/show/" + ui.item.id;
 
        }
    })
    .data("ui-autocomplete")._renderItem = function (ul, item) {

        //console.log("logo= ", item.logo);

        return $('<li class="ui-menu-item-with-icon"></li>')
            .data("item.ui-autocomplete", item.lastname)
            .append('<a>' + item.lastname + ',' + item.firstname + '</a>')
            .appendTo(ul);
    };


</script>