 <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>User account</h2>
                </div>
               
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">
                    <% if @user.imageurl? %>
                        <div class="col-md-3">
                            <div class="user-profile-img">
                                <img class="img-responsive" src="<%= @user.imageurl %>" alt="">
                            </div>
                            <ul class="categories mt-20">
                                <li><%= @user.firstname %> <%= @user.lastname %></li>
                               
                            </ul>
                              
                        </div>
                    <% end %>

                    <div class="col-md-9">
                              
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                                <li class="active"><a href="#tab-1" data-toggle="tab">About</a></li>

                                
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body">
                                        <dl class="dl-horizontal style-2">
                                            <h3 class="title title-lg">Personal information</h3>
                                            
                                            
                                            <dt>Your name</dt>
                                            <dd>
                                                <span class="pull-left"><%= @user.firstname %> <%= @user.lastname %></span>
                                                
                                            </dd>
                                            <hr>
                                            <dt>Email</dt>
                                            <dd>
                                            <span class="pull-left"><%= @user.email %></span>
                                                
                                            </dd>

                                            <% if session[:roleid] == ADMIN_ROLE %>
                                                <hr>
                                                <dt>Role</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.role.name %></span>
                                                    
                                                </dd>
                                                <hr>
                                                <dt>Last Login</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.lastlogin %></span>
                                                    
                                                </dd>
                                            <% end %> 
                                            

                                            <% if @user.provider == 'facebook' && session[:roleid] == ADMIN_ROLE %>
                                                
                                                
                                                <hr>
                                                <dt>Gender</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.gender %></span>
                                                    
                                                </dd>
                                                <hr>
                                                <dt>Location</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.location %></span>
                                                    
                                                </dd>
                                                <hr>
                                                <dt>Birthdate</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.birthday %></span>
                                                    
                                                </dd>

                                                <hr>
                                                <dt>Facebook URL</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.providerurl %></span>
                                                    
                                                </dd>

                                                <hr>
                                                <dt>Facebook UID</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @user.provideruid %></span>
                                                    
                                                </dd>

                                            <% end %>
                                            
                                        </dl>
                                    </div>
                                </div>

                                
                            </div>

                        </div>

                        <br/>
                        <a href="/user/edit/<%= @user.userid %>" class="btn btn-xs btn-base btn-icon fa-edit"><span>Edit</span></a>

                        <% if session[:roleid] == ADMIN_ROLE %>
                             
                             <br/><br/>
                             <a href="/user/index" class="btn btn-xs btn-base btn-icon fa-users"><span>View All Users</span></a>
                             <br/><br/>
                        <% end %>          

                    </div>
                </div>
            </div>
        </div>
    </section>
