
<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Accounts</h2>
                </div>
               
            </div>
        </div>
    </div>

<br/><br/>
<section class="slice bg-white animate-hover-slide">
        <div class="wp-section work">
            <div class="container">

<div class="row">

    <div class="col-md-6">
        <br/>
            <div class="input-group merged">
                <span class="input-group-addon"><i class="icon-append fa fa-search"></i></span>
                <input class="form-control" style="width:270px" type="text"
                       placeholder="Search For An Account"
                       name="searchuser"
                       id="searchuser"
                       value="">
            </div>
    </div>
         


	<div class="col-md-6">
		<%= will_paginate @accounts , renderer: BootstrapPagination::Rails %>
	</div>
</div>	

                <br/><br/><br/>

                <div class="row">
                    <div class="col-md-9">


                	<a href="/account/new">Add New Account</a>
                	<br/><br/>

                    <table class="table table-responsive table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Account ID</th>
                                <th>Company Name</th>
                                <th>API Key</th>
                                <th></th>
                            </tr>
                            <% @accounts.each do |account| %>


                                <tr>
                                    <td><%= account.id %></td>
                                    <td><a href="/account/show/<%= account.id %>"><%= account.company_name %></a></td>
                                    <td><%= account.api_key %></td>
                                    <td>
                                    	<a href="/account/edit/<%= account.id %>">Edit</a>

                                    	<% if account.charities.count > 0 %>

                                    		<br/>
                                    		<a href="/cause/index?account_id=<%= account.id %>">View Cause(s)</a>

                                    	<% end %>

                                    	<% if account.users.count > 0 %>

                                    		<br/>
                                    		<a href="/user/index?account_id=<%= account.id %>">View User(s)</a>

                                    	<% end %>


                                    </td>
                                </tr>
                            <% end %>
                            
                        </tbody>
                    </table>    

                    </div>
                </div>           

        	</div>    	
        </div>
    </section>



<script>

  $("#searchuser").autocomplete({


        source: function (request, response) {
            $.ajax({
                url: '/user/userautocomplete', type: "POST", dataType: "json",
                data: { searchText: request.term, maxResults: 10 },
                success: function (data) {

                    console.log('success: ', data)

                    // data is an array of objects and must be transformed for autocomplete to use
                    var array = data.error ? [] : $.map(data, function (m) {
                        return {
                            id: m.userid,
                            lastname: m.lastname,
                            firstname: m.firstname
                            
                        };
                    });
                    response(array);


                },
                failure: function (data) {
                    console.log('autcomplete failed');
                }
            })
        },
        minLength: 1,
        select: function (event, ui) {
            //console.log('comes in selected item');
            event.preventDefault();
            window.location.href = "/user/show/" + ui.item.id;
 
        }
    })
    .data("ui-autocomplete")._renderItem = function (ul, item) {

        //console.log("logo= ", item.logo);

        return $('<li class="ui-menu-item-with-icon"></li>')
            .data("item.ui-autocomplete", item.lastname)
            .append('<a>' + item.lastname + ',' + item.firstname + '</a>')
            .appendTo(ul);
    };


</script>