 <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Account Information</h2>
                </div>
               
            </div>
        </div>
    </div>

    <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">

                    <div class="col-md-9">
                              
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                                <li class="active"><a href="#tab-1" data-toggle="tab"></a></li>

                                
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body">
                                        <dl class="dl-horizontal style-2">
                                           
                                            
                                            <hr>
                                            <dt>Company Name</dt>
                                            <dd>
                                                <span class="pull-left"><%= @account.company_name %></span>
                                                
                                            </dd>
                                            <hr>
                                            <dt>Company Website</dt>
                                            <dd>
                                            <span class="pull-left"><%= @account.company_url %></span>
                                            </dd>
                                            <hr>
                                            <dt>API Key</dt>
                                            <dd>
                                            <span class="pull-left"><%= @account.api_key %></span>
                                                
                                            </dd>

                                            <% if @account.charities.count > 0 %>

                                                <hr>
                                                <dt>Cause(s)</dt>
                                                <dd>
                                                <span class="pull-left"><a href="/cause/index?account_id=<%= @account.id %>">View Cause(s)</a></span>
                                                    
                                                </dd>

                                           
                                            

                                            <% end %>

                                            <% if session[:roleid] == ADMIN_ROLE %>
                                                <hr>
                                                <dt>Is Active</dt>
                                                <dd>
                                                    <span class="pull-left"><%= @account.is_active ? 'Yes' : 'No' %></span>
                                                    
                                                </dd>
                                              
                                                
                                            <% end %> 
                                            
                                            
                                        </dl>
                                    </div>
                                </div>

                                
                            </div>

                        </div>

                        <br/>
                        <a href="/account/edit/<%= @account.id %>" class="btn btn-xs btn-base btn-icon fa-edit"><span>Edit</span></a>

                        <% if session[:roleid] == ADMIN_ROLE %>
                             
                             <br/><br/>
                             <a href="/account/index" class="btn btn-xs btn-base btn-icon fa-users"><span>View All Accounts</span></a>
                             <br/><br/>
                        <% end %>          

                    </div>
                </div>
            </div>
        </div>
    </section>
