<div class="pg-opt">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2></h2>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
    </div>
</div>

<section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                    	<div class="post-item">
	                        <div class="post-meta-top">
	                           
	                           <a href="/blog/index" class="btn btn-sm btn-base pull-left">View All Blogs</a>
	                           <br/><br/>
	                        </div>
	                        <div class="post-content">
	                            <h2 class="post-title"><a href="/blog/show?blog_id=<%= @blog.blog_id %>" hidefocus="true" style="outline: none;"><%= @blog.title %></a></h2>
	                            <span class="post-author">WRITTEN BY <a href="/blog/show?blog_id=<%= @blog.blog_id %>" hidefocus="true" style="outline: none;"><%= @blog.first_name %> <%= @blog.last_name %> </a> on <%= @blog.created.strftime("%B %d %Y") %></span>
	                            
	                            <div class="clearfix"></div>
	                            <div class="post-desc">
	                            	<br/><br/>
	                            	<%= @blog.description.html_safe %>
	                            	<br/><br/><br/><br/><br/><br/>
	                            </div>
	                        </div>
	                        <hr>

	                        

	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>