<title>Changefindr</title>
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    

    <!-- Essential styles -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="/css/global-style.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="/images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="<%= CLOUDFRONT_HOST %>/js/jquery.js"></script>
    <script src="<%= CLOUDFRONT_HOST %>/js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    <link rel="stylesheet" href="/assets/layerslider/css/layerslider.css" type="text/css">

                <!-- HEADER -->
    <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <style>
                    a:hover { 
                        background-color: white;
                    }
                </style>

                <a class="navbar-brand" href="/home" title="Boomerang | One template. Infinite solutions">

                    <img src="<%= CLOUDFRONT_HOST %>/images/ChangefinderLogo-blue.png"  alt="Changefindr">
                    
                   
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-md hidden-lg">
                        <div class="bg-light-gray">
                            <form class="form-horizontal form-light p-15" role="form">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control" placeholder="Search For A Cause">
                                    <span class="input-group-btn">
                                        <button class="btn btn-white" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    

                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="/cause/index">Browse Causes</a>
                        
                    </li>

                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="/cause/new">Start Fundraiser</a> 
                    </li>

                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="/howitworks/index">How It Works</a> 
                    </li>
                    

                     <% if session[:user_firstname] == nil %>

                        <li class="dropdown">
                        <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Login</a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="/sign_in">Sign in</a></li>
                            <li><a tabindex="-1" href="/sign_up">Register</a></li>
                                                  
                        </ul>
                        </li>     

                    <% else %>
                        <li class="dropdown">
                            <a href="/#" class="dropdown-toggle" data-toggle="dropdown">Hi <%= session[:user_firstname] %></a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="/user/show/<%= session[:userid] %>">My Account</a></li>

                                <% if session[:donationscount] != nil && session[:donationscount] > 0 && session[:roleid] == ADMIN_ROLE %>
                                    <li><a tabindex="-1" href="/donate/index/?userid=<%= session[:userid]%>&viewall=true">View All Donations</a></li>
                                <% end %>

                                <% if session[:donationscount] != nil && session[:donationscount] > 0 %>
                                    <li><a tabindex="-1" href="/donate/index/?userid=<%= session[:userid] %>">My Donations</a></li>
                                <% end %>

                                <li><a tabindex="-1" href="/sign_in/logout">Sign out</a></li>
                                
                                                      
                            </ul>
                        </li>                                        

                    <% end %>
                    
                    <li class="dropdown dropdown-aux animate-click" data-animate-in="animated bounceInUp" data-animate-out="animated fadeOutDown" style="z-index:500;">
                        <a href="/#" class="dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu dropdown-menu-user animate-wr">
                            <li id="dropdownForm">
                                <div class="dropdown-form">
                                    <form class="form-horizontal form-light p-15" role="form">
                                        <div class="input-group">
                                            <input type="text" id="searchcausemain" class="form-control" placeholder="Search For A Cause">
                                            <span class="input-group-btn">
                                                <button class="btn btn-base" type="button">Go</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-aux">
                        <a href="/#" id="cmdAsideMenu" class="dropdown-toggle dropdown-form-toggle" title="Open slidebar">
                            <i class="fa fa-outdent"></i>
                        </a>
                    </li>
                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        
</div>



